.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/static/capes/**
/static/hats/**
/static/quack-thumbs/**
/static/quack-thumbs-large/**
/static/rocks/**
/static/thumbs/**
/static/thumbs-large/**
/src/hats.json
/.vscode

